@import '../../styles/base/mixinResponse';

html {
    scroll-snap-type: y mandatory;
}

.container-section-portfolio {
    background: rgb(0, 19, 42);
    background: linear-gradient(100deg, rgba(0, 19, 42, 1) 16%, rgba(6, 30, 59, 1) 44%, rgba(36, 56, 80, 1) 71%);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;

    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        scroll-snap-align: center;
        perspective: 500px;
        overflow-y: auto;
    }
}

section>div {
    position: relative;
    scroll-snap-align: start;
}

.fp-nav {
    @include desktop {
        position: fixed;
        left: 30px;
        top: 32%;
    }

    @include tablet {
        position: fixed;
        bottom: 1%;
        left: 47.5%;
        transform: rotate(-90deg);
    }

    @include mobile {
        position: fixed;
        bottom: 1%;
        left: 45.5%;
        transform: rotate(-90deg);
    }

    &__ul {
        margin: 0;
        padding: 0;
        list-style: none;

        &__li {
            display: block;
            height: 22px;
            margin: 7px;

            &__indi {
                background-color: white;
                width: 25px;
                height: 5px;

                &.active {
                    width: 50px;
                }

                &__a {
                    position: absolute;
                    margin-top: -13px;
                    color: white;
                }
            }
        }
    }
}

.ojjj {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 200px;
}


.progress {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    bottom: 3%;
}