@import '../../styles/base/mixinResponse';

.container-hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__title {
        color: #fff;
        position: absolute;
        transition: "all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1) 0.5s";
        z-index: 200;

        @include desktop {
            top: 30.5%;
            margin-left: 11%;
        }

        @include tablet {
            top: 30.5%;
            margin-left: 10%;
        }

        @include mobile {
            bottom: 12%;
            margin-left: 10%;
        }

        &__text {
            line-height: 1;
            letter-spacing: 0.1em;
            margin-bottom: 0.4rem;
            font-family: "futura_m";
            font-weight: normal;
            text-align: start;

            @include desktop {
                font-size: 6rem;
            }

            @include tablet {
                font-size: 4.5rem;
            }

            @include mobile {
                font-size: 2.7rem;
            }
        }

        &__span {
            border-radius: 10px;
            width: 100px;
            height: 4px;
            background-color: rgb(255, 255, 255);
            margin-bottom: 0.4rem;
        }

        &__span2 {
            border-radius: 10px;
            margin-left: 30px;
            width: 100px;
            height: 4px;
            background-color: rgb(255, 255, 255);
            margin-bottom: 0.4rem;
        }

        &__lead {
            color: #fff;
            line-height: 1.5;
            letter-spacing: 0.1em;
            z-index: 1000000000000000;

            @include desktop {
                font-size: 1.7rem;
            }

            @include tablet {
                font-size: 1.4rem;
            }

            @include mobile {
                font-size: 1rem;
            }
        }

        &__hello {
            color: #fff;
            line-height: 1.5;
            letter-spacing: 0.1em;
            z-index: 10000000000000;

            @include desktop {
                font-size: 1.7rem;
            }

            @include tablet {
                font-size: 1.4rem;
            }

            @include mobile {
                font-size: 0.8rem;
            }
        }
    }

    &__scrollDown {
        position: fixed;
        font-size: 0.6rem;
        bottom: 80px;
        line-height: 1;
        letter-spacing: 0.3em;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        color: #fff;
        z-index: 100;

        @include desktop {
            left: 40px;
        }

        @include tablet {
            left: 30px;
        }

        @include mobile {
            right: 20px;
        }

        &:after {
            content: "";
            width: 2px;
            height: 64px;
            background: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -70px;
        }
    }
}

.container-moon {
    position: absolute;

    @include desktop {
        top: 35%;
        right: 20%;
    }

    @include tablet {
        top: 37%;
        right: 18%;
    }

    @include mobile {
        top: 20%;
        right: 35%;
    }

    &__moon {
        border-radius: 50%;
        background: var(--accent);
        border-radius: 50%;
        background: rgb(255, 255, 250);
        box-shadow: 0px 0px 100px #FFFF8C;
        z-index: 5;
        animation: moonAnimation 3s infinite;

        @include desktop {
            width: 400px;
            height: 400px;
        }

        @include tablet {
            width: 300px;
            height: 300px;
        }

        @include mobile {
            width: 260px;
            height: 260px;
        }

        &__crater {
            width: 100%;
            position: absolute;
            background: rgb(247, 247, 244);
            box-shadow: inset 3px -2px 0 0px rgb(247, 247, 244);
        }

        @include desktop {
            &__crater1 {
                top: 80px;
                left: 70px;
                width: 70px;
                height: 70px;
                border-radius: 100%;
            }

            &__crater2 {
                top: 80px;
                left: 230px;
                width: 65px;
                height: 65px;
                border-radius: 100%;
            }

            &__crater3 {
                top: 200px;
                left: 150px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }
        }

        @include tablet {
            &__crater1 {
                top: 50px;
                left: 70px;
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }

            &__crater2 {
                top: 60px;
                left: 180px;
                width: 55px;
                height: 55px;
                border-radius: 100%;
            }

            &__crater3 {
                top: 200px;
                left: 150px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }
        }

        @include mobile {
            &__crater1 {
                top: 50px;
                left: 70px;
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }

            &__crater2 {
                top: 60px;
                left: 180px;
                width: 55px;
                height: 55px;
                border-radius: 100%;
            }

            &__crater3 {
                top: 200px;
                left: 150px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }
        }
    }

    &__cloud-1 {
        filter: brightness(50%);
        position: absolute;
        object-fit: contain;
        z-index: 100000000000000000000000000000;

        @include desktop {
            left: -24%;
            top: 53%;
            width: 256px;
            height: 250px;
        }

        @include tablet {
            left: -35%;
            top: 53%;
            width: 233px;
            height: 233px;
        }

        @include mobile {
            left: -27%;
            top: 57%;
            width: 200px;
            height: 200px;
        }
    }

    &__cloud-2 {
        filter: brightness(50%);
        position: absolute;
        object-fit: contain;
        z-index: 100000000000000000000000000000;
        transform: rotate(1, 1, 1, 85deg);

        @include desktop {
            left: 50%;
            top: 60%;
            width: 256px;
            height: 250px;
        }

        @include tablet {
            left: 40%;
            top: 60%;
            width: 233px;
            height: 233px;
        }

        @include mobile {
            left: 48%;
            top: 45%;
            width: 200px;
            height: 200px;
        }
    }

    &__cloud-3 {
        position: absolute;
        object-fit: contain;
        transform: rotate3d(1, 1, 1, 35deg);
        z-index: -1;

        @include desktop {
            left: -20%;
            top: -20%;
            width: 256px;
            height: 250px;
        }

        @include tablet {
            left: -35%;
            top: -25%;
            width: 233px;
            height: 233px;
        }

        @include mobile {
            left: -35%;
            top: -15%;
            width: 200px;
            height: 200px;
        }
    }

    &__cloud-4 {
        position: absolute;
        transform: rotate3d(1, 1, 1, 45deg);
        z-index: -1;

        @include desktop {
            left: 70%;
            top: 5%;
            width: 256px;
            height: 250px;
        }

        @include tablet {
            left: 60%;
            top: -15%;
            width: 233px;
            height: 233px;
        }

        @include mobile {
            left: 55%;
            top: -17%;
            width: 200px;
            height: 200px;
        }
    }

}

.star {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.6);
    position: absolute;
}


@keyframes moonAnimation {
    0% {
        box-shadow: 0px 0px 100px #FFF;
    }

    50% {
        box-shadow: 0px 0px 140px #FFF;
    }

    100% {
        box-shadow: 0px 0px 100px #FFF;
    }
}